$colorprimary: #074ea0;
$colorsecondary: #f9d314;
$colormenu: #efefef;
$colordarkblue: #131530;
$colorlightyellow: #e4ddab;
$wewak: '#f3a8bb';
$linen: #fcf1f0;
$off-canvas-width: 260px;
$family: 'SF UI Display', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial',
  sans-serif;
$titlefamily: 'PT Sans Narrow', 'Open Sans', 'Helvetica Neue', 'Helvetica',
  'Arial', sans-serif;
