.intro-button {
  padding: 0.5rem;
  border: 0 none;
  text-align: center;
  cursor: pointer;
  position: relative;
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  outline: 0 none;
  color: #0f1923;
  background: 0 none;
}
.intro-button:before {
  content: '';
  display: block;
  position: absolute;
  height: calc(50% - 0.4rem);
  width: 100%;
  top: 0;
  border: 1px solid rgba(236, 232, 225, 0.5);
  border-bottom: 0;
  left: 0;
  right: 0;
}
.intro-button:after {
  content: '';
  display: block;
  position: absolute;
  height: calc(50% - 0.4rem);
  width: 100%;
  bottom: 0;
  border: 1px solid rgba(236, 232, 225, 0.5);
  border-top: 0;
  left: 0;
  right: 0;
}

/* LABEL  */
.label {
  position: relative;
  overflow: hidden;
  margin: 0;
}

.label:before {
  content: '';
  height: 100%;
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

/* Hover Effect */
.hover-effect {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 120%;
  top: 0;
  left: -5%;
  z-index: 1;
  transform: translateX(-100%) skew(-10deg);
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.intro-button:hover .hover-effect {
  transform: translateX(0) skew(-10deg);
}

/* Label Text */
.label-text {
  font-family: 'PT Sans Narrow', sans-serif;
  padding: 0.8rem 4rem;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  display: block;
  z-index: 1;
  color: #ece8e1;
}

//primary

.primary .label-text {
  color: #fff;
}

.primary:hover .label-text {
  color: #000;
}

.primary .label::before {
  background-color: #074ea0;
}

.primary .hover-effect {
  background-color: #f9d314;
}
